*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body, #root{
  width: 100%;
  height: 100%;
  color: var(--white);
}

#root {
  background-color: var(--contrast);
}

:root {
  --primary: #AE55F4;
  --secondary: #091E22;
  --contrast: #32343A;
  --accent: #4D5058;
  --inputs: #646467;
  --white: #FFFFFF;
  --black: #000000;
}